#TOP
{
    display: flex;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    font-family: 'Lobster', cursive;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 0px;
}

input
{
    width: 190px;
    height: 16px;
    border-top: none;
    border-bottom: black solid 2px;
    border-left: none;
    border-right: none;
}

input:hover
{
    border-style: none;
    border-top: none;
    border-bottom: blue solid 2px;
    border-left: none;
    border-right: none;
    
}

input:focus {
    
    outline: none;
}

#box{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#addBt{
    margin: 20px;
    height: 10%;
    width: 10%;
    cursor: pointer;
}

html, body{
    background-image: url('https://cdn.vox-cdn.com/thumbor/Si2spWe-6jYnWh8roDPVRV7izC4=/0x0:1192x795/1400x788/filters:focal(596x398:597x399)/cdn.vox-cdn.com/uploads/chorus_asset/file/22312759/rickroll_4k.jpg');
}

.po{
    margin: 20px;
    background-color: rgb(223, 218, 218);
    width: 50%;
    margin-left: 25%;   
}

#keybroad
{
    width: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: row;
}

#row1{
    display: flex;
    align-self: center;
    Text-Align: Center;
    Margin: 0 0 15px;
    justify-content: center;
}
#row2{
    display: flex;
    Text-Align: Center;
    Margin: 0 0 15px;
    justify-content: center;
    align-self: center;
}
#row3{
    display: flex;
    Text-Align: Center;
    Margin: 0 0 15px;
    justify-content: center;
    align-self: center;
}

#keyboard Input[Type='Button'] {
    Padding: 10px 20px;
    Border-Radius: 30px;
    Border: 3px Solid #202c2b;
    Background: #13ab9e;
    Color: #Fff;
    Text-Transform: Uppercase;
    height: 5%;
    width: 10%;
    cursor: pointer;
}

#error{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

#title{
    font-size: xx-large;
}

#title:hover
{
    text-transform: uppercase;
    color: #13ab9e;
}